.content {
	background-color: #fff;
}

form {
	text-align: center;
}

form input {
	margin: 1.5em;
}

html {
	background-color: #eee;
}

h1 {
	text-align: center;
	font-family: Arial, Helvetica, "sans-serif";
}